@charset "utf-8";
/* CSS Document */

/* ===================================================================
CSS information

 file name  :  default.css
 style info :  リセット及びbody初期設定
 (このスタイルシートは基本的に変更しない)
=================================================================== */
/*--- reset */


* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}
h1, h2, h3, h4, h5, h6 {font-size: 100%; font-weight: normal;margin:0; padding:0; vertical-align: baseline; outline:0; line-height:0.7em;}
ol, ul,ol li,ul li{list-style: none;}
body, div,dl, dt, dd, ul, ol, li,h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea,p, blockquote, th, td{margin: 0;padding: 0; border:none;}

tablel{border-collapse: collapse; border-spacing: 0;}

img{ vertical-align:bottom;}