@charset "utf-8";

.scbd {
	font-family:Dotum,NanumGothic,Helvetica,Arial,sans-serif;
}

.scbd .hd_select select,
.scbd .hd_select i {
	vertical-align:middle;
}

.scbd .ui-btn {font-size:12px; font-weight:bold; padding-top:0; padding-bottom:0; height:32px; line-height:32px; letter-spacing:-1px;}
.scbd .btn-sml {font-size:11px; padding-top:0; padding-bottom:0; height:26px; line-height:26px;}

.scbd .ui-input input {height:22px; line-height:22px;}
.scbd .ui-input input,
.scbd .ui-input textarea {font-size:12px;}

.scbd .ui-toggle .hd h1 {font-weight:bold; font-size:12px; padding-top:.8em; padding-bottom:.8em;}
.scbd .ui-toggle .hd p span {font-size:11px;}

.scbd .lst-board.lst-head li div {padding:1.1em 0 .9em;}

.scbd .lst-board.lst-body li .col_subject a {font-size:12px !important; padding-bottom:.4em;}

.scbd .det .poll strong {font-size:.875em;}
.scbd .det .poll li label {font-size:.75em; vertical-align: text-top;}
.scbd .det .snsShare strong {font-size:14px;}
.scbd .det .sbtns a {padding-left:.5em; margin-left:.5em;}

.scbd .conbody {font-size:12px;}

.scbd .cmtList .cmtbody {font-size:12px;}
.scbd .cmtList dl dt span {font-size:11px;}
.scbd .cmtList dl dd a {font-size:11px;}

.scbd .cmtWrite label {font-size:.75em;}
.scbd .cmtWrite dl dt textarea {height:70px;}
.scbd .cmtWrite dl dd {height:80px; line-height:80px;}

.scbd .lst-photo li .title {font-size:.75em;}

.scbd .lst-cal .nav strong {font-weight:bold;}

.scbd .write dl dt {}
