@charset "utf-8";

.scbd select
{
	vertical-align:middle;
}

.scbd .ui-input,
.scbd .ui-btn,
.scbd .hd_select span,
.scbd .sns .ui-ico,
.scbd .ui-toggle .hd p span i,
.scbd .det .copyurl a,
.scbd .det .sbtns a,
.scbd .cmtList dl,
.scbd .ui-ico.reply
{
	zoom:1;
	display:inline;
}

.scbd .lay_hd .hgroup ul,
.scbd .lst-photo,
.scbd .det .hgroup,
.scbd .lst-web li,
.scbd .lst-cal .lst-board li,
.scbd .clearbox,
.scbd .write dl
{
	zoom:1;
}

.scbd .toggleSearch div button {width:25px; height:25px; margin-top:-12px;}

.scbd .list_board .lst-board.lst-head {display:none;}
.scbd .list_board .lst-board li {display:block; width:auto;}
.scbd .list_board .lst-board li .td {display:block; width:auto;}
.scbd .list_board .lst-board li .td .txt {display:inline;}
.scbd .list_board .lst-board.lst-body li .col_no {display:none;}
.scbd .list_board .lst-board.lst-body li {padding:.5em;}
.scbd .list_board .lst-board.lst-body li .td {padding:0;}
.scbd .list_board .lst-board.lst-body li .col_subject a {font-weight:bold; font-size:.875em;}
.scbd .list_board .lst-board.lst-body li .inf {
	float:left; padding-right:.5em; margin-right:.5em;
	border-right-width:1px; border-right-style:solid;
}
.scbd .list_board .lst-board.lst-body.notice li {position:relative; padding-right:2em;}
.scbd .list_board .lst-board.lst-body.notice li .falseNotice {position:absolute; display:block; margin:-8px 0 0 0;}
.scbd .list_board .lst-board.lst-body .clear {display:block;}

.scbd .write dl,
.scbd .write dl dt,
.scbd .write dl dd {display:block;}
.scbd .write dl dt {}
.scbd .write dl dd {}

